@import "./base.css";


@font-face {
  font-family: "Podkova-Bold";
  src: local("podkova"),
    url(./fonts/podkova/Podkova-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Podkova-SemiBold";
  src: local("podkova"),
    url(./fonts/podkova/Podkova-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Podkova-Regular";
  src: local("podkova"),
    url(./fonts/podkova/Podkova-Regular.ttf) format("truetype");
}

* {
  transition: background 0.4s linear, color 0.4s linear;
  direction: rtl;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

/* Global Styles */

.secondary_head {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  font-family: "Podkova-Bold";
}
